{% extends 'base.html' %}
{% block content %}

<body>
    <div class="profile-container">
    <img class="big-avatar" src='{{user.avatar.url}}'>
    <h1 class="profile-name">{{user.username}}</h1>
    </div>
    <div class="container">
        <div class="profile-search">
            <form action="" method="GET" id="search-form">
                <input type="text" name="user-search" placeholder="Search {{user.username}}&#39s snippets!">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        {% for snippet in snippets %}
        <div class="snippet-container">
            <h2 class="snippet-title">{{snippet.title}}</h2>
            <div class="code-snippet">
                <pre><code class="language-{{snippet.language}}">{{snippet.code}}</code></pre>
                <i class="fas fa-clipboard"></i>
            </div>
            <div class="language">
                {{snippet.language}}
            </div>
            <div class="description">
                {{snippet.description}}
            </div>
            <div class="created-by">
                Posted on: {{snippet.created_at}} by 
                <a class="header-button" href="{% url 'profile' %}">
                {% for user in snippet.users.all %}
                {{user.username}}
                <img class="lib-avatar" src='{{user.avatar.url}}'>
                {% endfor %}
                </a>
            </div>
        <hr>
        </div>
        {% endfor %}
    </div>
    
    </body>
{% endblock %}