{% extends 'base.html' %}
{% block content %}

<body>
<h1 class="profile-name">{{request.user.username}}</h1>
<div class="container">
    <div class="profile-search">
        <input type="text" placeholder="Search {{user.username}}&#39s snippets!">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
        <div>
            <h3 class="new-snippet-button">
                <a href="{% url 'new-snippet' %}">
                    New Snippet +
                </a>
            </h3>
        </div>
    {% for snippet in snippets %}
    <div class="snippet-container">
        <h2 class="snippet-title">{{snippet.title}}</h2>
        <div class="code-snippet">
            <pre><code class="language-{{snippet.language}}">{{snippet.code}}</code></pre>
        </div>
        <div class="language">
            {{snippet.language}}
        </div>
        <div class="description">
            {{snippet.description}}
        </div>
        <div class="created-by">
            Posted on: {{snippet.created_at}} by 
            <a class="header-button" href="{% url 'profile' %}">
            {% for user in snippet.users.all %}
            {{user.username}}
            {% endfor %}
            </a>
        </div>
        <div class="edit-delete">
            <a class="header-button" href="{% url 'edit-snippet' pk=snippet.pk %}">Edit Snippet |</a>
            <a class="header-button" href="{% url 'delete-snippet' pk=snippet.pk %}"
               onclick="return confirm('Are you sure you want to delete this snippet?')">Delete Snippet</a>
        </div>
    <hr>
    </div>
    {% endfor %}
</div>

</body>
{% endblock %}