* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #393E41;
    font-family: 'Baloo Da 2';
    color: rgb(173, 173, 173);
}

a {
    text-emphasis: none;
    text-decoration: none;
    color: black;
}

.header-button {
    color: rgb(173, 173, 173);
    text-emphasis: none;
    text-decoration: none;
}

.header-button:hover {
    font-weight: bolder;
}

hr {
    border-color: gray;
}

.header {
    background-color: #5C415D;
    border-bottom: 5px solid rgb(69, 49, 70); 
    max-height: max-content;
    padding: 1rem;
    padding-bottom: 0.5rem;
    contain: content;
}

.site {
    display: flex;
    color: black;
    font-family: 'Fredoka One';
    font-size: 60px;
    text-shadow: 1px 2px white;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(96, 103, 107);
}

.login-logout {
    margin: 2px;
}

.login-out-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 5px;
    right: 5px;
}

.user-profile {
    display: inline-block;
    margin-top: 5px;
}

.avatar {
    max-width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(158, 158, 158);
}

.user-profile:hover .avatar{
    max-width: 55px;
}

.profile {
    text-align: end;
}

.library-button {
    display: inline-block;
}

.site-search {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 5px;
    right: 0;
    margin-right: 5px;
}

.site-search input {
    width: 200px;
    border-radius: 10px;
    padding: 2px;
}

.site-search button {
    width: 20px;
}

.profile-name {
    margin: 1rem;
    margin-bottom: 0px;
    font-size: 60px;
    font-style: italic;
    font-family: 'Bebas Neue';
}

.profile-search {
    display: flex;
    margin-left: 10px;
    margin-bottom: 15px;
}

.profile-search input{
    width: 300px;
    border-radius: 10px;
    padding: 3px;
}

.profile-search button {
    width: 20px;
    border-radius: 5px;
}

.new-snippet-button {
    margin-left: 15px;
    padding: 10px;
    contain: content;
    width: max-content;
    color: black;
    background: linear-gradient(rgb(178, 113, 190), rgb(147, 94, 156)); 
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Bebas Neue';
    font-size: 30px;
    text-shadow: 0px 1px 5px white;
    text-decoration: none;
}

.new-snippet-button:hover {
    text-decoration: none;
    border-bottom: 2px solid rgb(89, 57, 95);
    box-shadow: 2px 1px 2px gray;
    background: linear-gradient(rgb(178, 113, 190), rgb(123, 79, 131));
}

.snippet-container {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    contain: content;
}

.code-snippet {
    display: flex;
}


.code-snippet i {
    margin: 10px;
    margin-left: 2px;
    padding: 3px;
    border-radius: 5px;
    height: max-content;
}

.code-snippet i:hover {
    cursor: pointer;
    background-color: rgb(45, 49, 51);
}

.language {
    width: max-content;
    height: max-content;
    color: white;
    background-color: rgb(178, 113, 190);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.edit-delete {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: max-content;
    contain: content;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(90, 98, 102);
}

.new-snippet-head {
    font-family: 'Bebas Neue';
    margin-left: 25px;
}

.form .button {
    margin-left: 225px;
}